<!DOCTYPE html>

<html>

<head>
  <title>Improved Quizlet</title>
  <link rel="icon" href="https://assets.quizlet.com/a/j/dist/app/i/logo/2021/q-twilight.389092a385cb51d.png">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="https://assets.quizlet.com/a/j/dist/app/i/logo/2021/q-twilight.389092a385cb51d.png" property="og:image" />
  <meta content="Improved Quizlet" property="og:title">
  <meta content="A website that tries to improve the quizzing experience with a simple layout and UI." property="og:description">
  <meta name="description" content="A website that tries to improve the quizzing experience with a simple layout and UI.">
  
  style
    include ./css/style.css
  
  style
    include ./css/toggle.css

  each e in setData
    - const metaId = 'meta-set-' + e.name
    meta(id=metaId content=e.content)
</head>

<body>
  <div class="navbar">
    <div class="navbar-content">
      <div class="navbar-title">
        <span>Improved Quizlet</span>
        <span class="navbar-title-author">by Zayn Damji</span>
      </div>
      <div class="right-bar">
        <div class="spanish-english-toggle" id="spanish-english-toggle">
          <span>English</span>
          <label class="switch">
            <input type="checkbox" id="flipped-or-not">
            <span class="slider round"></span>
          </label>
          <span>Spanish</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      
      <div class="panels-wrapper">
        <div class="settings-panel">
          <div class="card-header" onclick="toggleSettings()">
            <span>Settings</span>
            <button class="toggle-button" id="settings-toggle">Open</button>
          </div>
          <div class="settings-grid" id="settings-content" style="display: none;">
            <div class="setting-item">
              <label class="setting-label" for="status-selector">Hide whether Correct or Incorrect</label>
              <input id="status-selector" name="status-selector" type="checkbox" onclick="toggleStatus(); regenerateQuiz();">
            </div>
            <div class="setting-item">
              <label class="setting-label" for="accents-selector">Ignore Accents</label>
              <input id="accents-selector" name="accents-selector" type="checkbox" onclick="toggleAccents(); regenerateQuiz();">
            </div>
            <div class="setting-item">
              <label class="setting-label" for="mute-selector">Mute Sounds</label>
              <input id="mute-selector" name="mute-selector" type="checkbox" onclick="toggleMute(); regenerateQuiz();" checked>
            </div>
            <div class="setting-item">
              <label class="setting-label" for="column-selector">Test in Columns</label>
              <input id="column-selector" name="column-selector" type="checkbox" onclick="toggleColumns(); regenerateQuiz();">
            </div>
          </div>
        </div>

        <div class="topics-section">
          <div class="card-header" onclick="toggleTopics()">
            <span>Study Topics</span>
            <span class="text-sm">(<span id="numberofsets">1</span> selected)</span>
            <button class="toggle-button" id="topics-toggle">Open</button>
          </div>
        <div id="set" style="display: none;">
          each sec in options
            - const secId = `${sec.name}-setchooser`
            div.topic-category
              .category-header
                span.category-title #{sec.display}
                .category-actions
                  - const onclickOn = `selectAllSets(true, "${secId}");`
                  - const onclickOff = `selectAllSets(false, "${secId}");`
                  button.secondary(onclick=onclickOn) Select All
                  button.secondary(onclick=onclickOff) Deselect All
              .topic-grid(id=secId)
                each week in sec.sets
                  div
                    div
                      input(type="checkbox" id=week[0] name="set" value=week[0] onchange="selectSet()")
                      label(for=week[0]) #{week[1]}
        </div>
      </div>
      </div>

      <div class="actions-section">
        <div class="actions-primary">
          <button onclick="switchTermAndDefinition(); resetScreen(); restartQuiz(); regenerateQuiz();">
            span
              |Switch to&nbsp;
              span#current-lang Spanish
          </button>
          <button class="secondary" onclick="resetScreen(); restartQuiz(); updateFlipped(); regenerateQuiz();">Restart</button>
          <button class="secondary" onclick="clearWords(); generateWords(); shuffleWords(); updateFlipped(); regenerateQuiz();">Shuffle</button>
          <button class="danger" onclick="solveQuiz();">Solve All</button>
          <a href="/copy" target="_blank" class="button-anchor outline">Copy Accents</a>
        </div>
      </div>

      <div class="quiz-container">
        <table id="main-table">
          <tr id="firstrow">
            <th>Verb</th>
            <th>Definition</th>
            <th>Yo</th>
            <th>Tú</th>
            <th>Él/Usted</th>
            <th>Nosotros</th>
            <th>Ellos/Ustedes</th>
          </tr>
          <tr id="firstrow2">
            <th>Verb</th>
            <th>Definition</th>
            <th>Tú</th>
            <th>-Tú</th>
            <th>Usted</th>
            <th>-Usted</th>
            <th>Ustedes</th>
            <th>-Ustedes</th>
          </tr>
        </table>
      </div>
    </div>

    <br><br>
  </div>

  <div class="progress-container">
    <div class="progress-wrapper">
      <div id="outer-progress-text">0%</div>
      <div id="progress">
        <div id="progress-bar"></div>
      </div>
    </div>
  </div>

  each sound in sounds
    audio(style="display: none;" id=sound.id)
      source(src=sound.data)
  
  script
    include ./js/reset.js

  script
    include ./js/settings.js

  script
    include ./js/sound.js

  script
    include ./js/script.js

  script
    include ./js/cookie.js
</body>

</html>